# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/

# Local SQLite database (if you use SQLite for development)
instance/*.db
instance/*.sqlite3

# Flask-Migrate migration files
migrations/

# Environment variables and secrets
.env
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS Finder files
.DS_Store