# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment folder
venv/

# Local SQLite database
instance/*.db
instance/*.sqlite3

# Flask-Migrate migration files
migrations/

# Environment variables
.env
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS Finder metadata
.DS_Store