.container {
    width: 100%;
    height: 98vh;
    background-image: url('/static/images/GeoSnap-Hero.jpg');
    background-size: cover;
    background-position: center;
    margin: auto;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

a {
    color: black;
    text-decoration: none;
}

/****************************** Navbar Section **********************************/
nav {
    display: flex;
    padding:20px 40px;
    justify-content: space-between;
    align-items: center;
}

.navbar-item {
    cursor: pointer;
}

.nav-left {
    display: flex;
    gap: 3rem;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav-logo {
    height: 60px;
    width: 60px;
}

.nav-right button {
    padding: 1rem;
    height: 3rem;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #007bff;
    cursor: pointer;
}

.nav-right button:hover {
    background-color: #0056b3;
}

/**************************** Hero Section **************************************/

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    filter: brightness(80%);
}
/**************************** Form Section ******************************************/

.form-container {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 10%;
    padding: 40px;
    width: 300px;
    text-align: center;
}

.form-container input {
    width: 90%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container h2 {
    text-transform: uppercase;
}

.form-container button {
    width: 50%;
    padding: 15px;
    margin: 10px 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #0056b3;
}

.form-container .toggle-btn {
    background-color: #28a745;
}

.form-container .toggle-btn:hover {
    background-color: #218838;
}

/************************* Quiz Page ************************************/

.quiz-container {
    text-align: center;
    margin-top: 15%;
}

.start-quiz-btn {
    padding: 15px 30px;
    font-size: 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.start-quiz-btn:hover {
    background-color: #218838;
}
.quiz-img img{
    object-fit:cover;
    object-position: center;
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

/* Flash message container */
.flash-messages {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

/* General styling for all alerts */
.alert {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

/* Success message styling */
.alert.success {
    background-color: #4CAF50;
    color: white;
}

/* Error message styling */
.alert.error {
    background-color: #f44336;
    color: white;
}

/* Warning message styling */
.alert.warning {
    background-color: #ff9800;
    color: white;
}

/* Info message styling */
.alert.info {
    background-color: #2196F3;
    color: white;
}


@media (max-width: 575.98px) {
    .container {
        width: 100%;
        min-height: 100vh;
        height: 100%;
        background-image: url('/static/images/GeoSnap-Hero.jpg');
        background-size: cover;
        background-position: center;
        margin: auto;
        font-family: "Poppins", sans-serif;
        overflow: hidden;
    }
    #start-quiz-section{
        margin-top: 55% !important;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {

}

@media (min-width: 768px) and (max-width: 1199.98px) {

}


@media (min-width: 1200px) and (max-width: 1399.98px) {

}

@media (min-width: 1400px) {

}