<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoSnap Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <!-- Navigation bar -->
        <nav>
            <div class="nav-left">
                <!-- Add left-side navbar items if needed -->
            </div>
            <div class="nav-right">
                <p>Welcome, {{ current_user.username }} !</p>
                <button onclick="window.location.href='{{ url_for('main_routes.logout') }}';" class="logout-btn">Logout</button>
                <img class="nav-logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="GeoSnap Logo">
            </div>
        </nav>

        <!-- Initial content with Start Quiz button -->
        <div id="start-quiz-section" style="text-align: center; margin-top: 15%;">
            <h1>Welcome to the GeoSnap Quiz!</h1>
            <button id="start-quiz-btn" class="start-quiz-btn">Start Quiz</button>
        </div>

        <!-- Quiz content (initially hidden) -->
        <div id="quiz-section" style="display: none; text-align: center;">
            <h2>Which country does this image belong to?</h2>

            <!-- Display the quiz image -->
            <img id="quiz-image" class="quiz-img" src="" alt="Country Image" style="width:900px;height:600px;object-fit: cover;object-position:center; ">

            <!-- Display the quiz options as buttons -->
            <div id="quiz-options" class="quiz-options"></div>
        </div>
    </div>

    <!-- Include the scripts -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>